* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100%;
  overflow-x: hidden; }

h2,
.inner__price {
  font-family: "Bebas Neue", "Ariel", sans-serif;
  color: #afafaf;
  font-size: 1.6875rem;
  text-transform: uppercase;
  font-weight: normal;
  line-height: 1.5625rem; }

.button {
  width: 75px;
  height: 35px;
  background-color: #3cc395;
  font-size: 1.26rem;
  font-family: "Bebas Neue", "Ariel", sans-serif;
  color: #fff;
  border: 0;
  border-radius: 5px; }

.main__line {
  max-width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.9375rem; }
  .main__line .logo {
    font-size: 3.0625rem;
    font-family: "Lobster 1.4";
    color: #4ccfc1; }
  .main__line .logo__link {
    text-decoration: none; }
  .main__line .search {
    position: relative;
    width: 45%;
    height: 40px;
    margin-top: 1.25rem; }
    .main__line .search .search__input {
      width: 100%;
      height: 31px;
      z-index: 10;
      border: 1px solid #d3d3d3; }
    .main__line .search .search__button {
      background-color: #fff;
      border: 0;
      position: absolute;
      right: 2px;
      top: 1px; }
      .main__line .search .search__button span {
        display: block;
        width: 32px;
        height: 28px;
        background-image: url(../img/sprits.png);
        background-position: 0 -10px;
        background-repeat: no-repeat; }
  .main__line .total-price {
    display: flex;
    justify-content: flex-end;
    width: 5%;
    margin-top: 0.75rem; }
    .main__line .total-price .basket {
      width: 45px;
      height: 40px;
      background-image: url(../img/sprits.png);
      background-position: -38px -1px;
      background-repeat: no-repeat;
      background-size: cover; }
      .main__line .total-price .basket a {
        display: block;
        width: 45px;
        height: 40px; }
    .main__line .total-price .price {
      font-size: 2.0625rem;
      font-family: "Bebas Neue", "Ariel", sans-serif;
      color: #a1a1a1;
      padding-top: 0.25rem;
      margin-left: 0.5rem; }

.menu {
  background-color: #4ccfc1;
  padding: 0.75rem 0 0.75rem;
  width: 100%; }
  .menu ul {
    display: flex;
    justify-content: space-between;
    max-width: 75%;
    margin: 0 auto; }
    .menu ul li {
      list-style: none;
      border-right: 2px solid #fff; }
      .menu ul li:last-child {
        border: 0; }
      .menu ul li:last-child a {
        padding-right: 0; }
      .menu ul li a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.3rem;
        font-family: "Bebas Neue", "Ariel", sans-serif;
        display: block;
        padding-right: 1.25rem; }
        .menu ul li a:hover {
          text-decoration: underline; }

.banner {
  background-image: -webkit-linear-gradient(#39c8b4, #36bdb5);
  background-image: -o-linear-gradient(#39c8b4, #36bdb5);
  background-image: linear-gradient(#39c8b4, #36bdb5); }
  .banner .banner__container {
    display: flex;
    justify-content: center; }
    .banner .banner__container .banner__img {
      padding: 4.25rem 6.25rem 0 0; }
    .banner .banner__container .banner__content {
      max-width: 30%;
      padding-top: 5.125rem; }
      .banner .banner__container .banner__content h1 {
        text-transform: uppercase;
        font-size: 3.8125rem;
        font-family: "Bebas Neue", "Ariel", sans-serif;
        color: #fff;
        font-weight: normal; }
      .banner .banner__container .banner__content .banner__text {
        font-family: "Open Sans", "Tahoma", sans-serif;
        font-size: 1.0625rem;
        margin-bottom: 1.875rem; }
      .banner .banner__container .banner__content button {
        border: 2px solid #fff;
        height: 40px;
        width: 130px;
        border-radius: 5px;
        font-size: 1.6825rem;
        font-family: "Bebas Neue", "Ariel", sans-serif;
        font-weight: normal;
        color: #fff;
        background-image: -webkit-linear-gradient(#39c8b4, #36bdb5);
        background-image: -o-linear-gradient(#39c8b4, #36bdb5);
        background-image: linear-gradient(#39c8b4, #36bdb5); }

.banner__control {
  margin-bottom: 34px; }
  .banner__control label {
    display: block; }
    .banner__control label::before {
      display: block;
      content: '';
      border: 1px solid #3cc395;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      background: #fff;
      margin-right: 0.9375rem; }
  .banner__control li {
    display: inline-block;
    list-style: none; }
  .banner__control input {
    visibility: hidden; }
  .banner__control .radio__btm:checked ~ label:before {
    background-color: #7ad8cb; }

.wrapper__sidebar {
  float: left;
  width: 20%;
  border-right: 2px solid #36bdb5;
  border-bottom: 2px solid #36bdb5; }
  .wrapper__sidebar .sidebar {
    margin: 0.625rem 0 0.625rem; }
    .wrapper__sidebar .sidebar .sidebar__title {
      background-image: -webkit-linear-gradient(#39c8b4, #36bdb5);
      background-image: -o-linear-gradient(#39c8b4, #36bdb5);
      background-image: linear-gradient(#39c8b4, #36bdb5);
      text-transform: uppercase;
      font-family: "Bebas Neue", "Ariel", sans-serif;
      font-size: 1.6875rem;
      color: #fff;
      font-weight: normal;
      text-align: center; }
    .wrapper__sidebar .sidebar .sidebar__items {
      margin: 0 auto;
      width: 50%; }
      .wrapper__sidebar .sidebar .sidebar__items h2 {
        padding: 0.9375rem 0 0.4375rem;
        font-size: 1.6875rem; }
      .wrapper__sidebar .sidebar .sidebar__items ul {
        list-style: none; }
        .wrapper__sidebar .sidebar .sidebar__items ul a {
          text-decoration: none;
          color: #36bdb5;
          line-height: 1.625rem; }
          .wrapper__sidebar .sidebar .sidebar__items ul a:hover {
            text-decoration: underline; }

main {
  width: 100%; }
  main:after {
    display: block;
    content: '';
    clear: both;
    visibility: hidden;
    height: 0; }

.wrapper__content {
  float: left;
  width: 80%;
  padding-bottom: 2.5rem; }

.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto; }
  .row figure {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 18.75rem;
    height: 11.875rem; }
    .row figure a {
      display: block;
      width: 11.5625rem;
      height: 9.0625rem; }
    .row figure i {
      width: 11.5625rem;
      height: 9.0625rem; }
    .row figure button {
      width: 3.75rem;
      margin-top: 1.2rem; }
    .row figure .goods__img--shoes {
      background-image: url(../img/brend_shoos.png);
      background-position: center;
      background-repeat: no-repeat; }
    .row figure .goods__img--tshirts {
      background-image: url(../img/brand_tshirt.png);
      background-position: center;
      background-repeat: no-repeat; }
    .row figure .goods__img--shorts {
      background-image: url(../img/brand_short.png);
      background-position: center;
      background-repeat: no-repeat; }

.products__caption {
  background-image: -webkit-linear-gradient(#39c8b4, #36bdb5);
  background-image: -o-linear-gradient(#39c8b4, #36bdb5);
  background-image: linear-gradient(#39c8b4, #36bdb5);
  text-transform: uppercase;
  font-family: "Bebas Neue", "Ariel", sans-serif;
  font-size: 1.9375rem;
  color: #fff;
  font-weight: normal; }

.content__container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .content__container figure {
    display: flex;
    flex-direction: column;
    width: 15.9375rem;
    height: 15.9375rem;
    margin: 2.5rem 1.25rem 0;
    border: 1px solid #e4e4e4;
    border-bottom: 5px solid #3cc395; }
    .content__container figure a {
      display: block;
      width: 15.9375rem;
      height: 9.0625rem; }
    .content__container figure i {
      width: 15.9375rem;
      height: 9.0625rem;
      margin: 0 auto; }
    .content__container figure figcaption {
      margin: 0 auto; }
    .content__container figure h2 {
      margin-top: 1.25rem; }
    .content__container figure form {
      margin-top: 0.3125rem; }
    .content__container figure .inner__price,
    .content__container figure button {
      display: inline-block; }
    .content__container figure .inner__price {
      height: 100%;
      padding: 0 1.25rem 0 0;
      vertical-align: middle; }
    .content__container figure .inner__img--shoe {
      background-image: url(../img/prod_shoos.png);
      background-position: center;
      background-repeat: no-repeat; }
    .content__container figure .inner__img--black-ts {
      background-image: url(../img/brand_tshirt1.png);
      background-position: center;
      background-repeat: no-repeat; }
    .content__container figure .inner__img--white-ts {
      background-image: url(../img/prod_tshirts.png);
      background-position: center;
      background-repeat: no-repeat; }
    .content__container figure .inner__img--purse {
      background-image: url(../img/prod_purse.png);
      background-position: center;
      background-repeat: no-repeat; }
    .content__container figure .inner__img--bag {
      background-image: url(../img/prod_bag.png);
      background-position: center;
      background-repeat: no-repeat; }
    .content__container figure .inner__img--short {
      background-image: url(../img/brand_short.png);
      background-position: center;
      background-repeat: no-repeat; }

.wrapper__footer {
  background-color: #3cc395; }

footer {
  display: flex;
  justify-content: space-between;
  max-width: 85%;
  padding: 1.25rem 0 1.25rem;
  margin: 0 auto; }
  footer h2 {
    color: #fff;
    margin-bottom: 1.25rem; }
  footer section {
    font-size: 0.9375rem;
    font-family: "Open Sans", "Tahoma", sans-serif;
    color: #fff;
    margin-bottom: 0.625rem; }
    footer section .tlf {
      font-weight: bold; }
  footer .footer__social ul {
    list-style: none;
    display: flex;
    justify-content: space-between; }
    footer .footer__social ul .social__link {
      fill: #fff;
      width: 20px;
      height: 20px; }
      footer .footer__social ul .social__link a {
        width: 20px;
        height: 20px; }
  footer .footer__posts {
    font-size: 0.9375rem;
    font-family: "Open Sans", "Tahoma", sans-serif;
    color: #fff; }
    footer .footer__posts .posts__caption {
      font-weight: bold;
      font-size: 0.9375rem;
      padding: 0 0 0.3125rem; }
    footer .footer__posts div {
      margin-bottom: 0.625rem; }
  footer .footer__forms .form__input {
    margin-bottom: 0.625rem; }
    footer .footer__forms .form__input input {
      border-radius: 2px; }
      footer .footer__forms .form__input input:focus {
        border: 2px solid #2da89b;
        outline: none;
        box-shadow: inset 0, 0, 1.25rem rgba 0, 0, 0, 0.5; }
  footer .footer__forms .button--footer {
    margin-top: 1.25rem; }
    footer .footer__forms .button--footer input {
      background-color: #3cc395;
      border: 2px solid #fff;
      width: 75px;
      height: 35px;
      border-radius: 5px;
      font-size: 1.0625rem;
      font-family: "Bebas Neue", "Ariel", sans-serif;
      font-weight: normal;
      color: #fff; }

.footer__leagal {
  height: 45px;
  background-color: #2da89b;
  display: flex;
  justify-content: center;
  align-items: center; }
  .footer__leagal p {
    font-family: "Open Sans", "Tahoma", sans-serif;
    font-size: 0.9375rem;
    color: #fff;
    font-weight: bold; }
