.s-footer {
  color: $gray-97;
  text-align: center;
  width: 100vw;

  .s-footer__text {
    line-height: 1.5625rem;
    background-color: $gray-header;
    font-family: $ubuntu;
    font-size: 0.875rem;
  }
}
