
$color:#000;

body {
  background-color: $color;
}

$color:#fff;

body {
  background-color: $color;
}
/*------*/
ul {
  margin: 0;
  a {
    color: red;
  }
}
/*--import---*/

@import"file";

.class {
  background-color: $color;
}

/*--mixin---*/
@mixin my-border ($thikness){
  border-width: $thikness;
}

img {
  @include my-border (10px);
}

.class {
  @include my-border (25px);
}

/*---extend--*/
.push_button {
  background-color: blue;
}

.main_button {
  @extend .push_button;
  font-weight: bold;
}
/*-----*/
$page-width: 1400px;
$padding: 20px;

.container {
  padding: $padding;
  width: $page-width - 2*$padding;
}

/*-----*/
.sassy {
  border: {
    width: 10px;
    color: red;
    radius:5px;
  }
}

/*-----*/
.button {
  background-color: green;
  &:hover {
    background-color: red;
  }
}

/*-----*/

$selector:article;

#{$selector} {
  color:#f00;
}

/*-----*/
$big-cat:cheetah;
.#{$big-cat}-picture {
  padding:3em;
}
$big-cat:puma;
.#{$big-cat}-picture {
  padding:3em;
}
$big-cat:jaguar;
.#{$big-cat}-picture {
  padding:3em;
}
$big-cat:tigar;
.#{$big-cat}-picture {
  padding:3em;
}
$big-cat:leopard;
.#{$big-cat}-picture {
  padding:3em;
}
/*------*/

@each $big-cat in cheetah, puma, jaguar, panther, tigar,leopard  {
  .#{$big-cat}-picture {
    padding: 3em;
  }

}
/*-------*/

@each $header, $size in (h1: 2em, h2: 1,5em, h3: 1em) {
  #{$header} {
    font-size: $size;
  }
}
