body {
  display: flex;
}

.modalWindow {
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #eee;
  z-index: 1000;
  /*transition: opacity 1s;*/
  display: none;
  pointer-events: none;
  width: 35%;
  height: 65%;
  margin: auto;
}

.modalWindow:target {
  display: block;
  pointer-events: auto;
  display: flex;
}

.innerWindow {
  width: 300px;
  height: 300px;
  outline: 4px double #000;
  position: relative;
  margin: auto;
  text-align: center;
  padding: 15px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
}

.innerWindow>div {
  margin: auto;
}

.innerWindow>div>h2 {
  padding-bottom: 30px;
  font-size: 2rem;
}

.innerWindow>div>p {
  padding-bottom: 50px;
  font-size: 1.5rem;
}

.close1 {
  padding: 10px 25px;
  width: 100px;
  height: 40px;
  background-color: grey;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 1px 1px 3px #000;
  text-align: center;
  border-radius: 3px;
}

.close:hover {
  background-color: #00d9ff;
}
