// banner
.banner {
  @include gradient;

  .banner__container {
    display: flex;
    justify-content: center;

    .banner__img {
      padding: 4.25rem 6.25rem 0 0;
    }

    .banner__content {
      max-width: 30%;
      padding-top: 5.125rem;

      h1 {
        text-transform: uppercase;
        font-size: 3.8125rem;
        font-family: $bebas;
        color: #fff;
        font-weight: normal;
      }

      .banner__text {
        font-family: $opensans;
        font-size: 1.0625rem;
        margin-bottom: 1.875rem;
      }

      button {
        border: 2px solid #fff;
        height: 40px;
        width: 130px;
        border-radius: 5px;
        font-size: 1.6825rem;
        font-family: $bebas;
        font-weight: normal;
        color:#fff;
        @include gradient;
      }
    }
  }
}
