//footer
.wrapper__footer {
  background-color: $primary_color;
}

footer {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  padding: 20px 0 20px;
  margin: 0 auto;

  h2 {
    color: #fff;
    margin-bottom: 20px;
  }

  section {
    font-size: 15px;
    font-family: $opensans;
    color: #fff;
    margin-bottom: 10px;


    .tlf {
      font-weight: bold;
    }
  }

  .footer__social {

    ul {
      list-style: none;
      display: flex;
      justify-content: space-between;

      .social__link {
        fill: #fff;
        width: 20px;
        height: 20px;

        a {
          width: 20px;
          height: 20px;
        }
      }
    }
  }

  .footer__posts {
    font-size: 15px;
    font-family: $opensans;
    color: #fff;

    .posts__caption {
      font-weight: bold;
      font-size: 15px;
      padding: 0 0 5px;
    }

    div {
      margin-bottom: 10px;
    }
  }

  .footer__forms {

    .form__input {
      margin-bottom: 10px;

      input {
        border-radius: 2px;

        &:focus {
          border: 2px solid $color_legal;
          outline: none;
          box-shadow: inset 0, 0, 20px rgba (0,0, 0, 0.5);
        }
      }
    }

    .button--footer {
      margin-top: 20px;

      input {
        background-color: $primary_color;
        border: 2px solid #fff;
        width: 75px;
        height: 35px;
        border-radius: 5px;
        font-size: 17px;
        font-family: $bebas;
        font-weight: normal;
        color: #fff;

      }
    }
  }
}

.footer__leagal {
  height: 45px;
  background-color: $color_legal;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-family: $opensans;
    font-size: 15px;
    color:#fff;
    font-weight: bold;

  }
}
