// header
.main__line {
  max-width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.9375rem;

  .logo {
    font-size: 3.0625rem;
    font-family: $lobster;
    color: $color_menu;
  }

  .logo__link {
      text-decoration: none;
  }

  .search {
    position: relative;
    width: 45%;
    height: 40px;
    margin-top: 1.25rem;

    .search__input {
      width: 100%;
      height: 31px;
      z-index: 10;
      border: 1px solid #d3d3d3;
    }

    .search__button {
      background-color: #fff;
      border: 0;
      position: absolute;
      right: 2px;
      top: 1px;

      span {
        display: block;
        width: 32px;
        height: 28px;
        background-image: url(../img/sprits.png);
        background-position: 0 -10px;
        background-repeat: no-repeat;
      }
    }
  }

  .total-price {
    display: flex;
    justify-content: flex-end;
    width: 5%;
    margin-top: 0.75rem;

    .basket {
      width: 45px;
      height: 40px;
      background-image: url(../img/sprits.png);
      background-position: -38px -1px;
      background-repeat: no-repeat;
      background-size: cover;

      a {
        display: block;
        width: 45px;
        height: 40px;
      }
    }

    .price {
      font-size: 2.0625rem;
      font-family: $bebas;
      color: #a1a1a1;
      padding-top: 0.25rem;
      margin-left: 0.5rem;
    }
  }
}

.menu {
  background-color: $color_menu;
  padding: 0.75rem 0 0.75rem;
  width: 100%;

  ul {
    display: flex;
    justify-content: space-between;
    max-width: 75%;
    margin: 0 auto;

    li {
      list-style: none;
      border-right: 2px solid #fff;

      &:last-child {
        border: 0;
      }

      &:last-child a {
        padding-right: 0;
      }

      a {
        color: #fff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.3rem;
        font-family: $bebas;
        display: block;
        padding-right: 1.25rem;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
